<div class="col-lg-3 col-md-4 col-sm-6 d-inline-flex">
  <div class="card-m">
    <div class="card-m-header">
      <img class="img-card" src="{{product.imageUrl}}" alt="{{product.description}}">
      <span class="heart" [ngClass]="{'liked': product.liked}">
        <i class="fa fa-heart" (click)="switchLiked()"></i></span>
      <button class="product-more" [routerLink]="['/product/details/', product.id]">
        DETAILS
      </button>
    </div>
    <div class="card-m-body text-center mt-1">
      <p class="collection">COLLECTION: <span class="collection-c">{{product.collection}}</span></p>
      <h5 class="card-product-name">{{product.name}}</h5>
      <h6 class="card-product-price">{{product.price}} $</h6>
    </div>
  </div>
</div>