<div class="container text-center pb-5">
  <div class="col-sm-4 offset-4" style="border: 1px solid #000">
    <form #registerForm="ngForm" class="form-signin mb-5 p-4">
      <img class="img-thumbnail" src="../../../assets/img/nologo.png" alt="" width="72" height="72">
      <h2 class="font-weight-normal">BESTUNDER</h2>
      <small class="font-weight-normal">REGISTER</small>
      <hr>
      <div class="form-group">
        <input type="email" name="email" class="form-control"
          placeholder="Email address" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" 
          class="form-control" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="password" name="password"
          class="form-control" placeholder="Confirm Password" required>
      </div>
      <hr>
      <button [disabled]='!registerForm.valid' class="btn btn-default btn-lg add-cart btn-block" type="submit">
        Register
      </button>
    </form>
  </div>
</div>